@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Muli:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

:root{
    --primary-color: #333;
    --secondary-color: #666;
    --primary-darker: #222;
    --dark-color: #111;
    --light-color: #ccc;
    --white: #f1f1f1;
    --container-width: 1300px;
    --logo-font: 'Bungee Inline', cursive;
    --nav-active-coords: 12px;
}
button{
    font-family: inherit;
}
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: var(--container-width);
}
}
*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth !important;
    scroll-padding-top: 70px;
}

body{
    font-family: 'Muli', sans-serif;
}
.fixed{
    background: var(--primary-darker);
    color: var(--white);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#scroll{
    width: 100%;
    height: 100vh;
}

.navbar{
    height: 70px;
}
.navbar-nav .nav-item .nav-link{
    padding: 10px 25px;
}

.nav-link.active{
    position: relative;
    transition: all 0.5s;
}
.nav-link.active::before, 
.nav-link.active::after
{
  height: var(--nav-active-coords);
  width: var(--nav-active-coords);
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  /* opacity: 0; */
}

.nav-link.active::before{
    /* position: absolute; */
    /* content: ''; */
    /* border-radius: 50%; */
    /* width: 25%;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--light-color); */
    right: 0;
    top: 0;
    border-right: 3px solid #9b59b6;
    border-top: 3px solid #9b59b6;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}
.nav-link.active::after{
    position: absolute;
    content: '';
    /* border-radius: 50%;
    width: 25%;
    height: 3px;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--light-color); */
    left: 0;
    bottom: -5px;
    border-left: 3px solid #9b59b6;
    border-bottom: 3px solid #9b59b6;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

.navbar.fixed .navbar-brand{
    color: var(--white);
}
.hamburger{
    color: var(--primary-color);
    transition: all 0.4s ease;
}
.navbar-col{
    display: flex;
    position: relative;
}
.navbar-toggler{
    position: relative;
}
.navbar-toggler:focus{
    outline: none;
}
.navbar.fixed .container .navbar-toggler .hamburger{
    color: var(--white);
}

.close{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    outline: none;
    text-shadow: none;
    color: var(--dark-color);
    transition: all 0.1s ease;
}
.navbar.fixed .container .navbar-toggler .close{
    color: var(--white);
}
.close:hover{
    color: transparent;
}
.navbar-toggler[aria-expanded=true] .close{
    opacity: 1;
    visibility: visible;
}
.navbar-toggler[aria-expanded=true] .hamburger{
    opacity: 0;
    visibility: hidden;
    transform: rotate(90deg);
}






.navbar-brand{
    font-family: var(--logo-font);
    letter-spacing: 3px;
    color: var(--dark-color);
    /* font-weight: 900; */
}
.navbar-brand-footer{
    font-family: var(--logo-font);
}

.nav-link{
    color: var(--dark-color);
}



.nav-link:not(last-child){
    margin-left: 50px;
}

.navbar-toggler-icon{
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-col.show{
    opacity: 1;
    transform: translateX(0);
}


.nav-item a{
    color: var(--dark-color);
    transition: all 0.5s;
}
.navbar.fixed .navbar-nav .nav-item a{
    color: var(--white);
}

.hamburger{
    font-size: 25px;
}

.show{
    background-color: var(--secondary-color);

}

span.animation-title{
    transform: translateY(20%);
    font-weight: bold;
}

span.animation-title::after,
span.animation-title::before
{
    animation-delay: 0.4s;
}

.animation-title{
    display: inline-block;
    position: relative;
    overflow: hidden;
    opacity: 0;
    animation: animateTitle 1s forwards;
}

.animation-title::before,
.animation-title::after
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    clip-path: polygon(32% 0, 100% 3%, 100% 100%, 0% 100%);
}
.animation-title::before{
    background-color: var(--white);
    animation: showTitle 0.8s ease;
}
.animation-title::after{
    background-color: var(--dark-color);
    animation-delay: 0.5s;
    animation: showTitle 0.6s ease;
}


@keyframes animateTitle{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes showTitle{
    0%{
        width: 0;
        left: 0;
        transform: translateX(0);
    }
    50%{
        width: 100%;
        transform: translateX(12%);
    }
    100%{
        transform: translateX(100%);
    }
}




/* SECTION  */


section#home{
    min-height: 100vh;
}

section{
    min-height: 100vh;
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service_icon i {
    font-size: 5rem;
}


#home{
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 768px){
    .navbar-col{
        position: absolute;
        height: 100vh;
        top: 70px;
        left: 0;
        opacity: 0;
        transform: translateX(-100%);
        transition: all 200ms ease-in-out;
        z-index: 100;
    }
    .navbar-nav .nav-item .nav-link{
        color: var(--white);
        margin: 0;
        text-align: center;
        font-size: 1.5rem;
    }
    .navbar-nav,
    .navbar-nav .nav-item,
    .navbar-nav .nav-item .nav-link{
        width: 100%;
    }
}